/* variables */
:root {
  --primary: #561140;
  --secondary: #f0bc50;
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* fonts */

/* base styles */

/* mobile styles */

/* tablet styles */
@media screen and (min-width: 620px) {
}

/* laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
