/* variables */
:root {
  --primary: #561140;
  --secondary: #d17a22;
  --light: #f2d492;
  --dark: #363537;
  --highlight: #729ea1;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--primary);
  overflow-x: hidden;
  color: var(--light);
  font-family: "Rubik Regular";
}

/* fonts */
@font-face {
  font-family: "Rubik Regular";
  src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

/* mobile styles */

/* tablet styles */
@media screen and (min-width: 620px) {
}

/* laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
