/* variables */
:root {
  --primary: #561140;
  --secondary: #d17a22;
  --light: #f2d492;
  --dark: #363537;
  --highlight: #729ea1;
}

/* reset */
body,
p,
a,
ul,
li,
h1,
h2,
figure {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--primary);
  overflow-x: hidden;
  font-family: "Roboto-Regular";
}

/* fonts */
@font-face {
  font-family: "Roboto-Regular";
  src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}
body {
  font-size: 16px;
}
figcaption {
  font-size: 0.6em;
}
figcaption a {
  color: var(--highlight);
}
.title {
  font-size: 2.4rem;
}
.sub-title {
  font-size: 1.3rem;
  line-height: 1.25em;
}
.quote {
  font-size: 0.8rem;
  line-height: 1.9em;
}
.quote-attrib {
  font-size: 1.2rem;
}

/* mobile styles */
.welcome {
  height: 100vh;
  min-height: 568px;
}
.welcome [class*="container-"] {
  position: relative;
}
.welcome .container-text {
  height: 96%;
  top: 2%;
  left: 1%;
  width: 98%;
}
.welcome .container-img {
  /* may not need this  */
  height: 98%;
  top: 1%;
  width: 98%;
  left: 1%;
}
.welcome [class*="centered-content-"] {
  /* goes inside container */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.welcome .centered-content-text {
  left: 5%;
  right: 5%;
}
.welcome .centered-content-img {
  height: 100%;
  width: 100%;
  text-align: center;
  transform: translateY(-45%);
}
.welcome .centered-content-img .content {
  height: 90%;
  width: max-content;
  margin: auto;
}
.welcome .centered-content-img img {
  height: 95%;
}
.welcome .centered-content-img figcaption {
  height: 5%;
  margin: -4px auto 0px auto;
}
/* tablet styles */
@media screen and (min-width: 620px) {
}

/* laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
